# オブジェクトファイル
*.o
objs/

# 実行ファイル
miniRT
debug_vec3
debug_rt_loader
debug_mlx_red_square
debug_split
debug_mlx_circle
debug_mlx_cylinder.c
# ライブラリ
*.a

# エディタ関連
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# docker
.envgit

#Static analysis tools (formatter,linter)
.clang-tidy

# その他
minilibx-linux
