# オブジェクトファイル
*.o
objs/

# 実行ファイル
miniRT
debug_vec3

# ライブラリ
*.a

# エディタ関連
.vscode/
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
*.swp
*.swo
*~

# macOS
.DS_Store

# docker
.env

#Static analysis tools (formatter,linter)
.clang-tidy
build/compile_commands.json

# その他
./.vscode/
